body{
  background-color: #333;
  box-sizing: border-box;
}
.Board{
  display: flex;
  flex-wrap: wrap;
  width: 240px;

}
.Square{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  //border: 1px solid #FFF;
  width: 30px;
  height: 30px;
  color: #fff;
  box-sizing: border-box;
}

.playerPic{
  width: 100px;
  height: 100px;
  background-size: cover;
}
