body{
  background-color: #333;
  box-sizing: border-box;
}
.data, .message, .login, .Register {
  color:#fff;
}
.Board{
  display: flex;
  flex-wrap: wrap;
  width: 240px;
  //visibility: hidden;
}
.Square{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #FFF;
  width: 30px;
  height: 30px;
  color: #fff;
  cursor:pointer;
  box-sizing: border-box;
}

.playerPic{
  width: 100px;
  height: 100px;
  background-size: cover;
}
