body{
  background-color: #333;
  box-sizing: border-box;
}
.Board{
  display: flex;
  flex-wrap: wrap;
  width: 400px;

}
.Square{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #FFF;
  width: 50px;
  height: 50px;
  color: #fff;
  box-sizing: border-box;
}

.select{
  background-color: green;
}

.red{
  background-color: red;
}

.blue{
  background-color: red;
}
